html, body, #root, #root > #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #34403a;
  color: #cfdbd5;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;

  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
}

#app {
}

.output-terminal {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  
  min-height: 40px;
  width: 100%;
  font-family: monospace;
}

.key-map-root {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.control-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.key-map-binding-dialog {
  background-color: #987284;

  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.corpus-editor textarea {
  background-color: black;
  color: white;

  width: 90%;
  height: 500px;
}

.corpus-model {
  margin-left: 100px;
  text-align: left;
}

.corpus-model li {
  font-family: monospace;
}

.graph-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.graph-node {
  min-width: 340px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding: 10px;
}

.graph-node-center {
  background-color: green;
}

.key-layout {
  border: 1px solid grey;
}

.key-layout .left-hand {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.key-layout .right-hand {
  flex-grow: 1;
  flex-shrink: 0;

  margin-left: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.key-box {
  color: #cfdbd5;

  font-size: 20px;
  font-family: monospace;
  margin: 5px;

  border: 1px solid white;
  padding: 5px;
}

.key-down {
  background-color: red;
  color: red;
}
